.sub-header{
    width:100%;
    height:2rem;
    background-color:#FFFFFF;
    display:flex;
    align-items:center;
    border:1px solid #EFEFEF;
    position:fixed;
    z-index:10;
    left:0;
    top:0;
}

.sub-header .back{
    width:1.6rem;
    height:1.6rem;
    background-image:url('../../assets/images/home/goods/back.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:100%;
}

.sub-header .title{
    width:79%;
    height:auto;
    font-size:0.64rem;
    text-align:center;
}

.sub-header .right-btn{
    width:auto;
    height:auto;
    font-size:0.64rem;
}