.profile-page{
    width:100%;
    height:100vh;
    background-color:#FFFFFF;
    overflow:hidden;
}

.profile-page .profile-main{
    width:100%;
    margin-top:2.04rem;
}

.profile-page .profile-main ul.head{
    width:100%;
    height:2.4rem;
    border-bottom:1px solid #EFEFEF;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.profile-page .profile-main ul.head li:nth-child(1){
    font-size:0.56rem;
    margin-left:5%;
}

.profile-page .profile-main ul.head li:nth-child(2){
    width:2rem;
    height:2rem;
    margin-right:10%;
    position:relative;
}

.profile-page .profile-main ul.head li:nth-child(2) img{
    width:100%;
    height:100%;
    border-radius:100%;
}

.profile-page .profile-main ul.head li:nth-child(2) input{
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    top:0;
    left:0;
    opacity:0;
}

.profile-page .profile-main ul.list{
    height:1.6rem;
    width:100%;
    border-bottom:1px solid #EFEFEF;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:0.56rem;
}

.profile-page .profile-main ul.list li:nth-child(1){
    margin-left:5%;
}

.profile-page .profile-main ul.list li:nth-child(2){
    width:50%;
    height:100%;
    margin-left:20%;
}

.profile-page .profile-main ul.list li:nth-child(2) input{
    width:100%;
    height:100%;
    text-align:right;
    font-size:0.56rem;
}

.profile-page .profile-main ul.list li.arrow{
    width:0.8rem;
    height:0.8rem;
    background-image:url('../../../../images/common/right_arrow.png');
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
    margin-right:3%;
}